.management {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('/images/management.jpg');
  background-size: cover;
}
.managementMask {
  position: fixed;
  background: rgba(100,25,25,0.3);
  height: 100vh;
  width: 100vw;
}
.managementIntroText {
  color: white;
  font-family: 'Open Sans';
  letter-spacing: 2px;
  font-weight: 300;
  text-shadow: .5px .5px 1px white;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  margin-left: 25px;
  margin-bottom: 25px;
  width: calc(100vw - 75px);
  border: 3px rgba(200,200,200,0.7) solid;
  background-color: rgba(200,200,200,0.7);
}
.managementUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.managementUnitIcon {
  clip-path: circle(45% at 50% 50%);
  border: 1px white solid;
}
.managementUnitTitle {
  font-size: 1em;
  letter-spacing: 7px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
  text-shadow: .5px .5px 1px white;
  text-align: center;
}
#plizzyIcon {
  background-image: url('/images/plizzyCrop.jpg');
  background-size: cover;
}
#paydayIcon {
  background-image: url('/images/paydayCrop.jpg');
  background-size: cover;
}
#tonesIcon {
  background-image: url('/images/tones.webp');
  background-size: cover;
}
.linkSuppress {
  text-decoration: none;
  color: white;
}
.managementContent {
  height: calc(100vh - 80px);
  z-index: 2;
  bottom: 0px;
}

@media screen and (min-width: 0px) {
  .managementBlock {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-bottom: 15px;
  }
  .management {
    background-size: cover;
    background-position: 40% 0%;
  }
  .managementUnitIcon {
    width: calc((100vh - 100px)*.15);
    height: calc((100vh - 100px)*.15);
  }
  .managementUnitTitle {
    font-size: 1em;
    letter-spacing: 7px;
  }
}

@media screen and (min-width: 515px) {
  .managementBlock {
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .managementUnitTitle {
    letter-spacing: 2px;
  }
  .managementUnit {
    width: 25vw;
    height: 25vw;
  }
  .managementUnitIcon {
    width: calc((100vw - 100px)*.15);
    height: calc((100vw - 100px)*.15);
  }
  .managementContent {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 963px) {
  .managementIntro {
    background-position: 60% 25%;
  }
  .managementUnitIcon {
    width: 150px;
    height: 150px;
  }
}
